 @import url(http://fonts.googleapis.com/css?family=Roboto);
*{
	margin: 0;
	padding: 0;
	font-family: FRANKLIN GOTHIC MEDIUM;
	color: black;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 30px;
    border: none;
    outline: none;
}
.ccc a{
	color: black;
	font-size: 18px;
}
.form-horizontal{
	text-align: center;
	font-size: 15px;
}
.class_h{
	margin-top: -20px;
	background: #f3f3f3;
}
input{
	width: 400px;
	height: 40px;
	outline-color: #ff8300;
}
.textarea_div textarea{
	width: 400px;
	outline-color: #ff8300;
}
.dd{
	font-size: 27px;
}
		.add-ad{
	      border-radius: 10px;
	      font-size: 20px;
	      background-color:  #ff8300;
	    }
	    .add-ad:hover{
	      border-radius: 10px;
	      font-size: 20px;
	      background-color: orange;
	    }
	      .add-ad i{
	        font-size: 15px;
	        font-weight: bold;
	        color: white;
	        letter-spacing: 3px;
	      }


.footer{
	width: 100%;
	height: 90px;
	background:  #f8f8f8;
	overflow: hidden;
}
	.foot{
		width: 100%;
		height: 90px;
		background:#f8f8f8;
	}	
		.log{
			margin: 0 auto;
			width: 150px;
			height: 100px;
		}	

@media (max-width: 470px){
	input{
		width: 300px;
	}
}